#Output Folders

Debug/

# Eclipse based IDEs meta and settings files or folders

.metadata/
.settings/
.cproject
.project

# Output files

*.o
*.elf
*.bin
*.hex

# Proteus Simulation meta and settings files

*.pdsbak
*.workspace